body{
    font-family: monospace,sans-serif ;
    background-color: #bdc3c7;
    color:#34495e;
}

#container{
    max-width: 60%;
    /*min-width: 700px; */
    margin: auto;
    background-color: #ecf0f1;
    
    padding-right: 3em;
    padding-left: 3em;
    
    padding-bottom: 3em;
}

#title{
    padding: .5em .5em 0 .5em;
    font-size: 3em;
    display: inline-block;
}

span{
    color: #27ae60
}

#subtitle{
    display: block;
    font-size: 1.5em;
    text-align: center;
}

#titlepic{
    padding: 1em;
    text-align: center;
    display: block;
}

#projects{
    padding: .5em;
    font-size: 2em;
    border: #bdc3c7 solid 2px;
    border-radius: 5px;
    margin-bottom: 1em;
}

#projectlist{
    list-style: none;
}

.quicklinks{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 29%;
    padding: .5em;
    text-align: center;
    border:#27ae60 solid 1px;
    border-radius: 3px;
    
    
}

.quicklinks:hover{
    background-color: #7f8c8d;
    color: white;
    border: none;
}

.quicklinks:hover a{
    color: white;
}

a{
    text-decoration: none;
    text-decoration-color: #c0392b;
    color: #27ae60;
}

a:hover{
    color: white;
}

a:visited {
    text-decoration: none;
    text-decoration-color: #e74c3c;
}

@media only screen 
    and (min-width: 100px)
    and (max-width: 736px) { 
      
        .quicklinks{
            display: block;
            margin-bottom: .5em;
            margin-right: auto;
            margin-left: auto;
            width: 90%;
            padding: 5%
        }

}